
<%- include("partials/header"); -%>
<div class="container">
  <header class="jumbotron" style="margin-top: 40px;">
      <div class="container">
          <h1>Welcome to Store</h1>
          <p>
              <a href="/store" class="btn btn-primary">Add New Category</a>
          </p>
      </header>
      <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% products.forEach(function(product){ %>
            <% if(product.category === "jewelery") { %>
              <div class="col-md-3 col-sm-6">
                  <div class="img-thumbnail">
                      <img style="width: 200px; height: 200px" src="<%=product.image%>" >
                  <div class="figure-caption">
                      <h4 style="font-size: 12px;"><%= product.title %></h4>
                  </div>
                  <p>
                    <%= product.price %>
                    $
                  </p>
                  </div>
                  
              </div>
              <% } %>
              <% }); %>
      </div>
  </div>


<%- include("partials/footer"); -%>
